<style scoped>
.layout{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: fixed;
  border-radius: 4px;
  overflow: auto;
  height: 100vh;
  width: 100%;
  left: 0;
}
.layout-logo{
  width: 100px;
  height: 45px;
  background: #515763;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 25px;
}
.layout-nav{
  width: 700px;
  margin: 0 auto;
  margin-right: 20px;
}

body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.box{
  position:relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100px;
  width: 600px;
}
.bkg{
  padding: 24px 0;
  height: 750px;
  background: #fff;
  overflow: auto;
}

</style>
<template>
  <layout>
    <div class="layout">
      <Header>
        <Menu mode="horizontal" theme="dark" active-name="1">
          <div class="layout-logo">
            <h2 style="color: #f5f7f9;text-align: center;top:15px;font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">LAMARS</h2>
          </div>
          <div class="layout-nav">
            <MenuItem name="1" to="/SingleSearch">
              <Icon type="ios-navigate"></Icon>
              search by project
            </MenuItem>
            <MenuItem name="2" to="/">
              <Icon type="md-cube"></Icon>
              Home
            </MenuItem>
            <MenuItem name="3" to="/SingleSearchRepository">
              <Icon type="md-briefcase"></Icon>
              search by repository
            </MenuItem>
            <MenuItem name="4" to="/repositoryList">
              <Icon type="ios-keypad"></Icon>
              show all repository
            </MenuItem>
          </div>
        </Menu>
      </Header>
      <Layout :style="{padding: '0 50px'}">
        <Breadcrumb :style="{margin: '16px 0'}">
          <BreadcrumbItem>Home</BreadcrumbItem>
          <BreadcrumbItem>Show all project</BreadcrumbItem>
        </Breadcrumb>

        <Content class="bkg">
          <Button shape="circle" icon="ios-arrow-back" class="btn1" @click.native="goBack">Back</Button>
          <div class="box">
            <Input v-model="searchInput" size="large" placeholder="Enter your project..."  >
              <!--                    <div v-show="show" class="errs"><span>{{errWord}}</span></div>-->
              <Button slot="append" icon="ios-search" @click.native="doSearch(searchInput)"></Button>
            </Input>
          </div>
          <el-table
            :data="tableData"
            border
            style="width: 800px; margin: 0 auto">
            <el-table-column
              fixed
              prop="project_id"
              label="project_id"
              width="200">
            </el-table-column>
            <el-table-column
              prop="project_name"
              label="project_name"
              width="300">
            </el-table-column>
            <el-table-column
              prop="platform"
              label="平台"
              width="170">
            </el-table-column>

            <el-table-column
              fixed="right"
              label="操作"
              width="100">
              <template slot-scope="scope">
                <Button  shape="circle" icon="ios-search" @click="checkDetail(scope.row)" >查询</Button>
<!--                <el-button @click="checkDetail(scope.row)" type="text" size="small">查看</el-button>-->
              </template>
            </el-table-column>
          </el-table>

          <el-pagination class="mpage"
                         background
                         layout="prev, pager, next"
                         :page-size="10"
                         :total=total
                         @current-change="changePage"
                         style="margin: 0 auto;text-align: center;" >
          </el-pagination>


        </Content>

      </Layout>
    </div>
  </layout>

</template>

<script>
import axios from 'axios'
export default {
  name: 'ProjectList',
  methods: {
    goBack () {
      this.$router.back(-1)
    },
    checkDetail (row) {
      console.log(row)
      this.$router.push({
        path: '/projectDetail',
        query: {
          pid: row.project_id
        }
      })
    },
    changePage (currentPage) {
      const _this = this
      axios.get('http://124.221.163.110:8081/project/findAll/' + currentPage + '/10').then(function (res) {
        console.log(res)
        _this.tableData = res.data.content
        _this.total = res.data.totalElements
      })
    },
    doSearch (searchInput) {
      this.$router.push({
        path: '/projectSearchList',
        query: {
          keyword: searchInput
        }
      })
    }
  },

  created () {
    const _this = this
    axios.get('http://124.221.163.110:8081/project/findAll/1/10').then(function (res) {
      //  console.log(res)
      _this.tableData = res.data.content
      _this.total = res.data.totalElements
    })
  },

  data () {
    return {
      total: null,
      tableData: null,
      searchInput: '',
      errWord: ''
    }
  }
}
</script>
