<style scoped>
.layout{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: fixed;
  border-radius: 4px;
  overflow: auto;
  height: 100vh;
  width: 100%;
  left: 0;
}
.layout-logo{
  width: 100px;
  height: 45px;
  background: #515763;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 25px;
}
.layout-nav{
  width: 700px;
  margin: 0 auto;
  margin-right: 20px;
}
.btn1{
  margin-top: 0;
}
.bkg{
  padding: 24px 0;
  height: 750px;
  background: #fff;
  overflow: auto;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wordStyle{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.demo-split{
  height: auto;
  border: 1px solid #dcdee2;
}
.demo-split-pane{
  padding: 20px;
}

</style>
<template>
  <layout>
    <div class="layout">
      <Header>
        <Menu mode="horizontal" theme="dark" active-name="1">
          <div class="layout-logo">
            <h2 style="color: #f5f7f9;text-align: center;top:15px;font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">LAMARS</h2>
          </div>
          <div class="layout-nav">
            <MenuItem name="1" to="/SingleSearch">
              <Icon type="ios-navigate"></Icon>
              search by project
            </MenuItem>
            <MenuItem name="2" to="/projectList">
              <Icon type="ios-keypad"></Icon>
              show all project
            </MenuItem>
            <MenuItem name="3" to="/SingleSearchRepository">
              <Icon type="md-briefcase"></Icon>
              search by repository
            </MenuItem>
            <MenuItem name="4" to="/">
              <Icon type="md-cube"></Icon>
              Home
            </MenuItem>
          </div>
        </Menu>
      </Header>
      <Layout :style="{padding: '0 50px'}">
        <Breadcrumb :style="{margin: '16px 0'}">
          <BreadcrumbItem>Home</BreadcrumbItem>
          <BreadcrumbItem>Search Project</BreadcrumbItem>
          <BreadcrumbItem>Project Details</BreadcrumbItem>
        </Breadcrumb>
        <Content class="bkg">
          <Button shape="circle" icon="ios-arrow-back" class="btn1" @click.native="goBack">Back</Button>
          <br>
          <br>
          <h2 style="text-align: center;font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">项目名称： {{projectInfo.project_name}}</h2>
          <el-descriptions direction="vertical" :column="3" border  class="box">
            <el-descriptions-item label="project_id" >{{ projectInfo.project_id }}</el-descriptions-item>
            <el-descriptions-item label="project_name">{{ projectInfo.project_name }}</el-descriptions-item>
            <el-descriptions-item label="platform" :span="2">{{ projectInfo.platform }}</el-descriptions-item>
            <el-descriptions-item label="language">{{ projectInfo.language }}</el-descriptions-item>
            <el-descriptions-item label="description">{{ projectInfo.description }}</el-descriptions-item>
            <el-descriptions-item label="homepage_url">{{ projectInfo.homepage_url }}</el-descriptions-item>
            <el-descriptions-item label="created_timestamp">{{ projectInfo.created_timestamp }}</el-descriptions-item>
            <el-descriptions-item label="updated_timestamp">{{ projectInfo.updated_timestamp }}</el-descriptions-item>
            <el-descriptions-item label="latest_release_publish_timestamp">{{ projectInfo.latest_release_publish_timestamp }}</el-descriptions-item>
            <el-descriptions-item label="latest_release_number">{{ projectInfo.latest_release_number }}</el-descriptions-item>
            <el-descriptions-item label="repository_id">{{ projectInfo.repository_id }}</el-descriptions-item>
            <el-descriptions-item label="repository_url">{{ projectInfo.repository_url }}</el-descriptions-item>
            <el-descriptions-item label="licenses">{{ projectInfo.licenses }}</el-descriptions-item>
          </el-descriptions>

        </Content>

      </Layout>
    </div>
  </layout>

</template>

<script>
import axios from 'axios'
export default {
  name: 'ProjectDetail',
  methods: {
    goBack () {
      this.$router.back(-1)
    },

    checkDifference (version1,version2) {
      if ( this.show === false ) {
        this.$router.push({
          path: '/projectSearchList',
          query: {
            keyword: version1, version2
          }
        })
      }
    }

  },
  created () {
    const _this = this
    axios.get('http://124.221.163.110:8081/project/findById/' + _this.$route.query.pid).then(function (res) {
      _this.projectInfo = res.data
      console.log(res.data.project_id)
      //console.log(res.data)
    })
    // axios.get('http://localhost:8081/project/findVersionList/'+ _this.$route.query.pid).then(function (res){
    //   _this.versionList = res.data
    //   console.log(res.data.versionList)
    // })
  },

  data () {
    return {
      split1: 0.65,
      projectInfo: {
        project_id: '',
        project_name: '',
        platform: '',
        language: '',
        description: '',
        homepage_url: '',
        created_timestamp: '',
        updated_timestamp: '',
        latest_release_publish_timestamp: '',
        latest_release_number: '',
        repository_id: '',
        repository_url: '',
        licenses: ''
      },
    }
  }
}
</script>
