<style scoped>
.layout{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: fixed;
  border-radius: 4px;
  overflow: auto;
  height: 100vh;
  width: 100%;
  left: 0;
}
.layout-logo{
  width: 100px;
  height: 45px;
  background: #515763;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 25px;
}
.layout-nav{
  width: 1000px;
  margin: 0 auto;
  margin-right: 20px;
}

.bkg{
  padding: 24px 0;
  height: 750px;
  background: #fff;
  overflow: auto;
}

</style>
<template>
  <layout>
    <div class="layout">
      <Header>
        <Menu mode="horizontal" theme="dark" active-name="1">
          <div class="layout-logo">
            <h2 style="color: #f5f7f9;text-align: center;top:15px;font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">LAMARS</h2>
          </div>
          <div class="layout-nav">
            <MenuItem name="1" to="/SingleSearch">
              <Icon type="ios-navigate" ></Icon>
              search by project
            </MenuItem>
            <MenuItem name="2" to="/projectList">
              <Icon type="ios-keypad"></Icon>
              show all project
            </MenuItem>
            <MenuItem name="5" to="/repositoryList">
              <Icon type="ios-keypad"></Icon>
              show all repository
            </MenuItem>
            <MenuItem name="3" to="/SingleSearchRepository">
              <Icon type="md-briefcase" ></Icon>
              search by repository
            </MenuItem>
            <MenuItem name="4" to="/">
              <Icon type="md-cube"></Icon>
              Home
            </MenuItem>
          </div>
        </Menu>
      </Header>
      <Layout :style="{padding: '0 50px'}">
        <Breadcrumb :style="{margin: '16px 0'}">
          <BreadcrumbItem>Home</BreadcrumbItem>
          <BreadcrumbItem>Search Result</BreadcrumbItem>
        </Breadcrumb>

        <Content class="bkg">
          <Button shape="circle" icon="ios-arrow-back" class="btn1" @click.native="goBack">Back</Button>
          <el-pagination class="mpage"
                         background
                         layout="prev, pager, next"
                         :page-size="10"
                         :total=total
                         @current-change="changePage"
                         style="margin: 0 auto;text-align: center;" >
          </el-pagination>
          <el-table
            :data="tableData"
            border
            style="width: 800px; margin: 0 auto">
            <el-table-column
              fixed
              prop="repository_id"
              label="repository_id"
              width="200">
            </el-table-column>
            <el-table-column
              prop="repository_name"
              label="repository_name"
              width="300">
            </el-table-column>
            <el-table-column
              prop="host_type"
              label="托管平台"
              width="170">
            </el-table-column>
            <el-table-column
              fixed="right"
              label="操作"
              width="100">
              <template slot-scope="scope">
                <Button  shape="circle" icon="ios-search" @click="checkDetail(scope.row)" >查询</Button>
              </template>
            </el-table-column>
          </el-table>


        </Content>

      </Layout>
    </div>
  </layout>

</template>

<script>
import axios from 'axios'
export default {
  name: 'RepositorySearchList',
  methods: {

    checkDetail (row) {
      console.log(row.repository_id)
      this.$router.push({
        path: '/repositoryDetail',
        query: {
          pid: row.repository_id
        }
      })
    },
    changePage (currentPage) {
      const _this = this
      axios.get('http://124.221.163.110:8081/repository/findByKeywords/' + _this.$route.query.keyword + '/' + currentPage + '/10').then(function (res) {
        console.log(res)
        _this.tableData = res.data.content
        _this.total = res.data.totalElements
      })
    },
    goBack () {
      this.$router.back(-1)
    }
  },

  created () {
    const _this = this
    axios.get('http://124.221.163.110:8081/repository/findByKeywords/' + _this.$route.query.keyword + '/1/10').then(function (res) {
      _this.tableData = res.data.content
      _this.total = res.data.totalElements
    })
  },

  data () {
    return {
      total: null,
      tableData: null,
      searchInput: ''

    }
  }
}
</script>
