<style scoped>
.layout{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: fixed;
  border-radius: 4px;
  overflow: auto;
  height: 100vh;
  width: 100%;
  left: 0;
}
.layout-logo{
  width: 100px;
  height: 45px;
  background: #515763;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 25px;
}
.layout-nav{
  width: 700px;
  margin: 0 auto;
  margin-right: 20px;
}
.btn1{
  margin-top: 0;
}
.bkg{
  padding: 24px 0;
  height: 750px;
  background: #fff;
  overflow: auto;
}
.box{
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%,-50%);*/
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>
<template>
  <layout>
    <div class="layout">
      <Header>
        <Menu mode="horizontal" theme="dark" active-name="1">
          <div class="layout-logo">
            <h2 style="color: #f5f7f9;text-align: center;top:15px;font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">LAMARS</h2>
          </div>
          <div class="layout-nav">
            <MenuItem name="1" to="/SingleSearch">
              <Icon type="ios-navigate"></Icon>
              search by project
            </MenuItem>
            <MenuItem name="2" to="/projectList">
              <Icon type="ios-keypad"></Icon>
              show all project
            </MenuItem>
            <MenuItem name="3" to="/SingleSearchRepository">
              <Icon type="md-briefcase"></Icon>
              search by repository
            </MenuItem>
            <MenuItem name="4" to="/">
              <Icon type="md-cube"></Icon>
              Home
            </MenuItem>
          </div>
        </Menu>
      </Header>
      <Layout :style="{padding: '0 50px'}">
        <Breadcrumb :style="{margin: '16px 0'}">
          <BreadcrumbItem>Home</BreadcrumbItem>
          <BreadcrumbItem>Search Repository</BreadcrumbItem>
          <BreadcrumbItem>Repository Details</BreadcrumbItem>
        </Breadcrumb>
        <Content class="bkg">
          <Button shape="circle" icon="ios-arrow-back" class="btn1" @click.native="goBack">Back</Button>
          <br>
          <br>
          <h2 style="text-align: center;font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">仓库名称： {{repositoryInfo.repository_name}}</h2>
          <el-descriptions direction="vertical" :column="3" border class="box">
            <el-descriptions-item label="repository_name" >{{ repositoryInfo.repository_name }}</el-descriptions-item>
            <el-descriptions-item label="repository_id">{{ repositoryInfo.repository_id }}</el-descriptions-item>
            <el-descriptions-item label="host_type" :span="2">{{ repositoryInfo.host_type }}</el-descriptions-item>
            <el-descriptions-item label="repository_owner">{{ repositoryInfo.repository_owner }}</el-descriptions-item>
            <el-descriptions-item label="language">{{ repositoryInfo.language }}</el-descriptions-item>
            <el-descriptions-item label="description">{{ repositoryInfo.description }}</el-descriptions-item>
            <el-descriptions-item label="homepage_url">{{ repositoryInfo.homepage_url }}</el-descriptions-item>
            <el-descriptions-item label="created_timestamp">{{ repositoryInfo.created_timestamp }}</el-descriptions-item>
            <el-descriptions-item label="updated_timestamp">{{ repositoryInfo.updated_timestamp }}</el-descriptions-item>
            <el-descriptions-item label="last_push_timestamp">{{ repositoryInfo.last_push_timestamp }}</el-descriptions-item>
            <el-descriptions-item label="fork">{{ repositoryInfo.fork }}</el-descriptions-item>
            <el-descriptions-item label="forks_count">{{ repositoryInfo.forks_count }}</el-descriptions-item>
            <el-descriptions-item label="watchers_count">{{ repositoryInfo.watchers_count }}</el-descriptions-item>
            <el-descriptions-item label="stars_count">{{ repositoryInfo.stars_count }}</el-descriptions-item>
            <el-descriptions-item label="contributors_count">{{ repositoryInfo.contributors_count }}</el-descriptions-item>
            <el-descriptions-item label="open_issues_count">{{ repositoryInfo.open_issues_count }}</el-descriptions-item>
            <el-descriptions-item label="default_branch">{{ repositoryInfo.default_branch }}</el-descriptions-item>
            <el-descriptions-item label="licenses">{{ repositoryInfo.licenses }}</el-descriptions-item>
          </el-descriptions>

        </Content>

      </Layout>
    </div>
  </layout>

</template>

<script>
import axios from 'axios'
export default {
  name: 'RepositoryDetail',
  methods: {
    goBack () {
      this.$router.back(-1)
    }

  },
  created () {
    const _this = this
    axios.get('http://124.221.163.110:8081/repository/findById/' + _this.$route.query.pid).then(function (res) {
      _this.repositoryInfo = res.data
      console.log(res.data.repository_id)
      console.log(res.data)
    })
  },

  data () {
    return {
      repositoryInfo: {
        repository_id: '',
        host_type: '',
        repository_name: '',
        repository_owner: '',
        language: '',
        description: '',
        homepage_url: '',
        created_timestamp: '',
        updated_timestamp: '',
        last_push_timestamp: '',
        fork: '',
        forks_count: '',
        watchers_count: '',
        stars_count: '',
        contributors_count: '',
        open_issues_count: '',
        default_branch: '',
        licenses: ''
      }
    }
  }
}
</script>
