<style scoped>
.layout{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: fixed;
  border-radius: 4px;
  overflow: auto;
  height: 100vh;
  width: 100%;
  left: 0;
}
.layout-logo{
  width: 100px;
  height: 45px;
  background: #515763;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 25px;
}
.layout-nav{
  width: 700px;
  margin: 0 auto;
  margin-right: 20px;
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100px;
  width: 600px;
}
.bkg{
  padding: 24px 0;
  height: 750px;
  background: #fff;
  overflow: auto;
}
</style>
<template>
  <layout>
    <div class="layout">
      <Header>
        <Menu mode="horizontal" theme="dark" active-name="1">
          <div class="layout-logo">
            <h2 style="color: #f5f7f9;text-align: center;top:15px;font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">LAMARS</h2>
          </div>
          <div class="layout-nav">
            <MenuItem name="1" to="repositoryList">
              <Icon type="ios-navigate" ></Icon>
              show all repository
            </MenuItem>
            <MenuItem name="2" to="/projectList">
              <Icon type="ios-keypad"></Icon>
              show all project
            </MenuItem>
            <MenuItem name="3"  to="/SingleSearch">
              <Icon type="md-briefcase"></Icon>
              search by project
            </MenuItem>
            <MenuItem name="4" to="/">
              <Icon type="md-cube"></Icon>
              Home
            </MenuItem>
          </div>
        </Menu>
      </Header>
      <Layout :style="{padding: '0 50px'}">
        <Breadcrumb :style="{margin: '16px 0'}">
          <BreadcrumbItem>Home</BreadcrumbItem>
          <BreadcrumbItem>Search Project</BreadcrumbItem>
          <BreadcrumbItem>Project Details</BreadcrumbItem>
        </Breadcrumb>
        <Content class="bkg">
          <Button shape="circle" icon="ios-arrow-back" class="btn1" @click.native="goBack">Back</Button>
          <div class="box">
            <el-autocomplete
              style="width: 600px;"
              v-model="searchInput"
              :fetch-suggestions="querySearchAsync"
              placeholder="Enter your repository..."
              @select="handleSelect"

            ><el-button slot="append" icon="el-icon-search" @click.native="doSearch(searchInput,1)"></el-button>
            </el-autocomplete>
          </div>

        </Content>

      </Layout>
    </div>
  </layout>
</template>

<script>
import axios from "axios";

export default {
  name: "search",
  data () {
    return{
      formInput:  {
        searchInput: ''
      },
      ruleInline: {
        searchInput: [
          { required: true, message: 'Please fill in the blank', trigger: 'blur' }
        ]
      },
      onTimeRes: [],
      searchInput: '',
      errWord: '',
      show: false,
      remindData: []
    }
  },
  methods: {
    doSearch (searchInput, number) {
      if ( this.show === false ) {
        if(number == 0){
          this.$router.push({
            path: '/projectSearchList',
            query: {
              keyword: searchInput
            }
          })
        }else if(number == 1){
          this.$router.push({
            path: '/repositorySearchList',
            query: {
              keyword: searchInput
            }
          })
        }else if(number == 2){
          this.$router.push({
            path: '/dependenceSearchList',
            query: {
              keyword: searchInput
            }
          })
        }else if(number == 3 ){
          this.$router.push({
            path: '/SubstituteSearchList',
            query: {
              keyword: searchSubstitute
            }
          })
        }
      }
    },

    change: function (index) {
      this.number = index
      console.log(index)
    },
    goBack () {
      this.$router.back(-1)

    },
    querySearchAsync(queryString, cb){
      //console.log(this.onTimeRes)
      let remindData = this.remindData
      let results = queryString ? remindData.filter(this.createStateFilter(queryString)) : remindData
      clearTimeout(this.timeout)
      this.timeout = setTimeout(()=>{
        cb(results)
      },1000*Math.random());
    },
    createStateFilter(queryString){
      return(searchRInput)=>{
        return(searchRInput.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0 )
      };
    },
    handleSelect(item){
      console.log(item)
    },
    loadAll(){
      const _this = this
      axios.get('http://124.221.163.110:8081/repository/findAll/1/10').then(function (res) {
        _this.onTimeRes = res.data.content
        //console.log(_this.onTimeRes)
        _this.onTimeRes.forEach((item)=>{
          let obj = {value: "", keyID: ""}
          obj.value = item.repository_name
          obj.keyID = item.repository_id
          _this.remindData.push(obj);
        })
        console.log(_this.remindData)

        //console.log(_this.onTimeRes)
      })
    }

  },
  mounted() {
    this.onTimeRes = this.loadAll();
  }

}
</script>
