<style scoped>
.layout{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: fixed;
  border-radius: 4px;
  overflow: auto;
  height: 100vh;
  width: 100%;
  left: 0;
}
.layout-logo{
  width: 100px;
  height: 45px;
  background: #515763;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 25px;
}
.layout-nav{
  width: 400px;
  margin: 0 auto;
  margin-right: 20px;
}
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wordStyle{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.bkg{
  padding: 24px 0;
  height: 750px;
  background: #fff;
  overflow: auto;
}

</style>
<template>
  <layout>
    <div class="layout">
      <Header>
        <Menu mode="horizontal" theme="dark" active-name="1">
          <div class="layout-logo">
            <h2 style="color: #f5f7f9;text-align: center;top:15px;font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">LAMARS</h2>
          </div>
          <div class="layout-nav">
            <MenuItem name="4" to="/">
              <Icon type="md-cube"></Icon>
              Home
            </MenuItem>
          </div>
        </Menu>
      </Header>
      <Layout :style="{padding: '0 50px'}">
        <Breadcrumb :style="{margin: '16px 0'}">
          <BreadcrumbItem>Home</BreadcrumbItem>
          <BreadcrumbItem>show and recommend dependence</BreadcrumbItem>
        </Breadcrumb>
        <Content class="bkg">
          <Button shape="circle" icon="ios-arrow-back" class="btn1" @click.native="goBack">Back</Button>

          <class style="text-align: center;display:block;">
            <span style="font-size:36px;text-align: center ">Recommended method mapping between </span>
            <span style="font-size:44px ;color: brown">{{$route.query.pid}} </span>
              <span style="font-size:36px;text-align: center ">&</span>
              <span style="font-size:44px ;color: brown"> {{$route.query.qid}}</span>
          </class>
          <el-table
            :data="tableData"
            border
            style="width: 950px; margin: 0 auto">
            <el-table-column
              fixed
              prop="fromcode"
              label="原方法"
              width="400">
            </el-table-column>
            <el-table-column
              prop="tocode"
              label="迁移方法"
              width="400">
            </el-table-column>

            <el-table-column
              label="建议状态"

              width="150">
              <template slot-scope="scope">
                <Button  shape="circle" style="background-color: #42b983;color: #ffffff" v-if="5 <= scope.row.frequency">
                  <Icon type="happy-outline"></Icon>
                  Recommend
                </Button>
              </template>
            </el-table-column>
          </el-table>
          <el-pagination class="mpage"
                         background
                         layout="prev, pager, next"
                         :page-size="10"
                         :total=total
                         @current-change="changePage"
                         style="margin: 0 auto;text-align: center;" >
          </el-pagination>
        </Content>
      </Layout>
    </div>
  </layout>
</template>



<script>
import axios from "axios";
export default {
  name: "FunctionSubstitute",
  created () {
    const _this = this
    axios.get('http://124.221.163.110:8081/functionmapping/selectMapping/' + _this.$route.query.pid + '/'+_this.$route.query.qid+ '/1/10').then(function (res) {
      _this.tableData = res.data.content
      _this.total = res.data.totalElements
      console.log(_this.tableData)
    })
  },
  methods: {
    changePage (currentPage) {
      const _this = this
      axios.get('http://124.221.163.110:8081/functionmapping/selectMapping/' + _this.$route.query.pid + '/'+_this.$route.query.qid + '/' + currentPage + '/10').then(function (res) {
        console.log(res)
        _this.tableData = res.data.content
        _this.total = res.data.totalElements

      })
    },
    goBack () {
      this.$router.back(-1)
    },
    recommend (frequency){

    }
  },

  data () {
    return {
      total: null,
      tableData: [],
      searchInput: '',
      remindDate : [],

    }
  }

}

</script>

