<style scoped>
.layout{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: fixed;
  border-radius: 4px;
  overflow: auto;
  height: 100vh;
  width: 100%;
  left: 0;
}
.layout-logo{
  width: 100px;
  height: 45px;
  background: #515763;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 25px;
}
.layout-nav{
  width: 800px;
  margin: 0 auto;
  margin-right: 20px;
}
.layout-footer-center{
  text-align: center;
}
.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 200px;
  margin: 0;
}
.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
.box{
  height: 400px;
  width: 800px;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sss{
  height:100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.pic{
  overflow: auto;
}
.bkg{
  padding: 24px 0;
  height: 750px;
  background: #fff;
  overflow: auto;
}

.centerSituation{
  display: flex; justify-content: center; align-items: center

}
.inputBlank{
  /*position: absolute;*/
  left: 50%;
  transform: translate(-50%);

}
.imgStyle{
  background-size: cover;
  overflow: auto;
}
.wordsize{
  font-size: 18px;
}
</style>
<template>
  <div class="layout">
    <Layout>
      <Header>
        <Menu mode="horizontal" theme="dark" active-name="1">
          <div class="layout-logo">
            <h2 style="color: #f5f7f9;text-align: center;top:15px;font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">LAMARS</h2>
          </div>
          <div class="layout-nav">
            <MenuItem name="1" @click.native="change(3)">
              <Icon type="ios-navigate"></Icon>
              search by project
            </MenuItem>
            <MenuItem name="2" to="/projectList">
              <Icon type="ios-keypad"></Icon>
              show all project
            </MenuItem>
            <MenuItem name="4" to="/repositoryList">
              <Icon type="ios-keypad"></Icon>
              show all repository
            </MenuItem>
            <MenuItem name="3" @click.native="change(4)">
              <Icon type="md-briefcase"></Icon>
              search by repository
            </MenuItem>
          </div>
        </Menu>
      </Header>
      <Layout :style="{padding: '0 50px'}">
        <Breadcrumb :style="{margin: '16px 0'}">
          <BreadcrumbItem>Home</BreadcrumbItem>
          <BreadcrumbItem v-show="0===number||1===number||2===number">About</BreadcrumbItem>
          <BreadcrumbItem v-show="3===number||4===number">Search</BreadcrumbItem>
          <BreadcrumbItem v-show="5===number">Show all</BreadcrumbItem>
          <BreadcrumbItem v-show="0===number">Abstract</BreadcrumbItem>
          <BreadcrumbItem v-show="1===number">About us</BreadcrumbItem>
          <BreadcrumbItem v-show="2===number">Background</BreadcrumbItem>
          <BreadcrumbItem v-show="3===number">Search by project</BreadcrumbItem>
          <BreadcrumbItem v-show="4===number">Search by repository</BreadcrumbItem>
        </Breadcrumb>
        <Content class="bkg">
          <Layout>
            <Sider hide-trigger :style="{background: '#fff'}">
              <Menu active-name="1-2" theme="light" width="auto" :open-names="['1']">
                <Submenu name="1">
                  <template slot="title">
                    <Icon type="ios-navigate"></Icon>
                    ABOUT
                  </template>
                  <MenuItem name="1-1" @click.native="change(0)" >about us</MenuItem>
                  <MenuItem name="1-2" @click.native="change(1)" >abstract</MenuItem>
                  <MenuItem name="1-3" @click.native="change(2)" >background</MenuItem>
                </Submenu>
                <Submenu name="2">
                  <template slot="title">
                    <Icon type="ios-keypad"></Icon>
                    SEARCH
                  </template>
                  <MenuItem name="2-1" @click.native="change(3)">search by project</MenuItem>
                  <MenuItem name="2-2" @click.native="change(4)">search by repository</MenuItem>
                </Submenu>
                <Submenu name="3">
                  <template slot="title">
                    <Icon type="md-briefcase"></Icon>
                    SHOWALL
                  </template>
                  <MenuItem name="3-1" to="/projectList">show all project</MenuItem>
                  <MenuItem name="3-2" to="/repositoryList">show all repository</MenuItem>
                </Submenu>
                <Submenu name="4">
                  <template slot="title">
                    <Icon type="md-bulb" ></Icon>
                    迭代二功能
                  </template>
                  <MenuItem name="4-1" to="/projectVersionList">Show all project</MenuItem>
                  <MenuItem name="4-3"  to="/showDependenceResult">Show and Recommend all dependence </MenuItem>
                  <MenuItem name="4-2"  @click.native="change(5)">search recommend</MenuItem>
                  <MenuItem name="4-4"  @click.native="change(6)">show the recommend pic</MenuItem>
                </Submenu>
              </Menu>
            </Sider>
            <Content  style="background: #fff;top: 50%;left: 50%;">
              <div v-show="0===number">
                <h2>group numbers:</h2>
                <Table stripe :columns="columns1" :data="data1"></Table>
              </div>
              <div v-show="1===number" style="height: 100%;width: 90%">
                <el-carousel :interval="4000" type="card" height="200px">
                  <el-carousel-item v-for="(item) in carouselList" :key="item.index">
                    <h2 class="box" style="text-align: center;font-size: 30px; height:50%; font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">{{ item.content }}</h2>
                  </el-carousel-item>
                </el-carousel>
                <h1  style="text-align: center; font-size: 55px">如今库迁移变得更加容易</h1 >
                <h4>  &nbsp;</h4>
                <p style="text-align: center; ">有了代码替换建议，能让你的库迁移变得更加容易也更加便捷</p>
                <p style="text-align: center;">不需要再去读迁移库的具体文档，只需要将需要迁移的库是什么，进行搜索</p>
                <p style="text-align: center;">我们会根据我们数据库中的开源项目，提供给你两个库之间的的功能映射</p>
                <h1>  &nbsp;</h1>
                <template class="centerSituation">
                  <el-autocomplete
                    style="width: 600px;"
                    class="inputBlank"
                    v-model="substituteInput"
                    :fetch-suggestions="querySearchAsync"
                    placeholder="搜索库名..."
                    @select="handleSelect"
                    :trigger-on-focus="false"
                    clearable
                  ><el-button slot="append" icon="el-icon-search" @click.native="doSearch(substituteInput,3)"></el-button>
                  </el-autocomplete>
                </template>
                <h1>&nbsp;&nbsp;</h1>
                <h1>&nbsp;&nbsp;</h1>
                <el-divider></el-divider>
                <div>
                  <h1 style="font-size: 45px">&nbsp;&nbsp;WHY？</h1>
                  <p class="wordsize">&nbsp;&nbsp;我们发现在开发人员选择好开发所需要迁移的库之后，我们可能需要为此消耗2-42不等的时间来完成库迁移的工作</p>
                  <p class="wordsize">&nbsp;&nbsp;主要耗费的时间在于：到底该替换的方法是什么，以及阅读新库的说明文档</p>
                  <h1>&nbsp;&nbsp;</h1>
                  <div style="display: flex; justify-content: center; align-items: center">
                  <img class="imgStyle" src="../assets/2.png" />
                  </div>
                  <h4 style="font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">&nbsp;&nbsp;Reference:</h4>
                  <p style="font-size: 12px">&nbsp;&nbsp;&nbsp;&nbsp;     ·Alrubaye, H., Mkaouer, & M. W., Ali, O (2019). On the Use of Information Retrieval to Automate the Detection of Third-Party Java Library Migration At The Function Level, 27th IEEE/ACM International Conference on Program Comprehension 2019.</p>

                </div>
                <h1>&nbsp;&nbsp;</h1>
                <div style="margin: auto">
                  <h1 style="font-size: 40px">&nbsp;&nbsp;库迁移能带来什么？</h1>
                  <p class="wordsize">通过探索库迁移对软件质量的影响。我们发现，库迁移通过减少耦合、增加内聚、开发人员添加更多注释、减少代码行数和删除空格以及提高代码的可读性，从而带来良好的软件设计。
                  通过下表展示,迁移引线耦合提高-47.14%，缺乏内聚力提高-11.05%，平均行注释提高8.71%，平均行空白提高-9.71%，计数行提高-15.71%，平均Cyclomatic 提高-26.16%，注释与代码之比提高3.68%</p>
                  <h1>&nbsp;&nbsp;</h1>
                  <div class="centerSituation">
                    <img class="imgStyle" src="../assets/3.png" />
                  </div>
                  <h4 style="font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">&nbsp;&nbsp;Reference:</h4>
                  <p style="font-size: 12px">&nbsp;&nbsp;&nbsp;&nbsp;     ·Alrubaye, Hussein, Deema AlShoaibi, Mohamed Wiem Mkaouer, Ali Ouni, . How Does API Migration Impact Software Quality and Comprehension? An Empirical Study. International Conference on Software Reuse (2020).</p>
                  <h1>&nbsp;&nbsp;</h1>
                </div>
              </div>
              <div v-show="2===number">
                <h2>BACKGROUND</h2>
                <br>
                <h3> &emsp;1、软件维护已成为软件工程中最主要的活动</h3>
                <h4> &emsp; &emsp;1.1、调bug×，迭代式开发√ - 充分复用已实现的代码，减少编写量，提升开发速度</h4>
                <br>
                <h3> &emsp;2、第三方库的使用与风险</h3>
                <h4> &emsp; &emsp;2.1、代码复用中常用的高效手段就是复用他人写好并封装的第三方API库</h4>
                <h4> &emsp; &emsp;2.2、然而，由于是非己方代码，经常会出现以下风险：第三方库的开发人员终止维护，第三方库提供的功能不再满足更新后的需求，第三方库许可证与当前开发项目不再兼容等</h4>
                <br>
                <h3> &emsp;3、库迁移的自动化推荐</h3>
                <h4> &emsp; &emsp;3.1、库迁移：使用一些功能类似或等效的库（target library，即目标库）对项目中已使用的库（source library，即源库）进行替换</h4>
                <h4> &emsp; &emsp;3.2、问题：第三方库数目众多，开发人员手动完成完成库迁移需要耗费大量精力与时间</h4>
                <h4> &emsp; &emsp;3.3、自动化推荐：根据同样数目众多的库迁移历史，实现库迁移的自动化推荐（在线工具)</h4>
              </div>
              <div v-show="3===number" class="sss">

                  <Input v-model="searchInput" size="large" placeholder="Enter your project..."  style="width: 400px;">
<!--                    <div v-show="show" class="errs"><span>{{errWord}}</span></div>-->
                    <Button slot="append" icon="ios-search" @click.native="doSearch(searchInput,0)"></Button>
                  </Input>
              </div>
              <div v-show="4===number" class="sss">

                  <el-autocomplete
                    style="width: 400px;"
                    v-model="searchRInput"
                    :fetch-suggestions="querySearchAsync"
                    placeholder="Enter your repository..."
                    @select="handleSelect"
                    :trigger-on-focus="false"
                    clearable
                  ><el-button slot="append" icon="el-icon-search" @click.native="doSearch(searchRInput,1)"></el-button>
                  </el-autocomplete>

              </div>
              <div v-show="5===number" class="sss">

                  <Input v-model="searchVInput" size="large" placeholder="Enter your dependence..." style="width: 400px;">
                    <Button slot="append" icon="ios-search" @click.native="doSearch(searchVInput,2)"></Button>
                  </Input>

              </div>
              <div v-show="6===number">
                <div class="pic">
                  <p>由于迁移规则过多，所以只展示部分规则</p>
                  <img src="../assets/1.png"/>
                </div>
              </div>
            </Content>
          </Layout>
        </Content>
      </Layout>
      <Footer class="layout-footer-center">2022.2-now &copy; group by HXZZ </Footer>
    </Layout>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: 'MainPage',
  data () {
    return {
      number: 1,
      columns1: [
        {
          title: 'Name',
          key: 'name'
        },
        {
          title: 'ID',
          key: 'id'
        }
      ],
      data1: [
        {
          name: '何承博',
          id: '191250042'
        },
        {
          name: '张吴辉',
          id: '191250198'
        },
        {
          name: '朱林泽',
          id: '191830243'
        },
        {
          name: '谢明通',
          id: '191250159'
        }],
      carouselList: [
        {
          content: 'LARMAS——库迁移推荐系统'
        },
        {
          content: '提供更好的等效api库'
        },
        {
          content: '在这里你可以找到你可替换的库'
        },
        {
          content: '为您提供代码替换的建议'
        }
      ],
      substituteInput: '',
      value2: 0,
      searchInput: '',
      searchRInput: '',
      searchVInput: '',
      errWord: '',
      show: false,
      timeout: null,
      onTimeRes: [],
      remindData: []
    }
  },
  methods:{
    change: function (index) {
      this.number = index
      console.log(index)
    },

    doSearch (searchInput, number) {
      if ( this.show === false ) {
        if(number == 0){
          this.$router.push({
            path: '/projectSearchList',
            query: {
              keyword: searchInput
            }
          })
        }else if(number == 1){
          this.$router.push({
            path: '/repositorySearchList',
            query: {
              keyword: searchInput
            }
          })
        }else if(number == 2){
          this.$router.push({
            path: '/dependenceSearchList',
            query: {
              keyword: searchInput
            }
          })
        }else if(number == 3 ){
          this.$router.push({
            path: '/SearchSubstituteList',
            query: {
              keyword: searchInput
            }
          })
        }
      }
    },

    querySearchAsync(queryString, cb){
      //console.log(this.onTimeRes)
      let remindData = this.remindData
      let results = queryString ? remindData.filter(this.createStateFilter(queryString)) : remindData
      clearTimeout(this.timeout)
      this.timeout = setTimeout(()=>{
        cb(results)
      },1000*Math.random());
    },
    createStateFilter(queryString){
      return(substituteInput)=>{
        return(substituteInput.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0 )
      };
    },
    handleSelect(item){
      console.log(item)
    },
    loadAll(){
      const _this = this

      axios.get('http://124.221.163.110:8081/functionmapping/findAll').then(function (res) {
        _this.onTimeRes = res.data
        //console.log(_this.onTimeRes)

        _this.onTimeRes.forEach((item)=>{
          let added =false
          let obj = {value: "", keyID: ""}
          //console.log(item)
          obj.value = item.fromlib
          obj.keyID = item.tolib
           //_this.remindData.push(obj)
          // console.log(_this.remindData)
          _this.remindData.forEach((i)=>{
            if(i.value === obj.value){
              added =true
            }
          })
          if(added ===false){
            _this.remindData.push(obj)
          }
        })

        console.log(_this.remindData)
      })
    }

  },
  mounted() {
    this.onTimeRes = this.loadAll();
  }
}
</script>
