<style scoped>
.layout{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: fixed;
  border-radius: 4px;
  overflow: auto;
  height: 100vh;
  width: 100%;
  left: 0;
}
.layout-logo{
  width: 100px;
  height: 45px;
  background: #515763;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 25px;
}
.layout-nav{
  width: 700px;
  margin: 0 auto;
  margin-right: 20px;
}
.btn1{
  margin-top: 0;
}
.bkg{
  padding: 24px 0;
  height: 750px;
  background: #fff;
  overflow: auto;

}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.wordStyle{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.demo-split{
  height: auto;
  border: 1px solid #dcdee2;
}
.demo-split-pane{
  padding: 20px;
}

</style>
<template>
  <layout>
    <div class="layout">
      <Header>
        <Menu mode="horizontal" theme="dark" active-name="1">
          <div class="layout-logo">
            <h2 style="color: #f5f7f9;text-align: center;top:15px;font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">LAMARS</h2>
          </div>
          <div class="layout-nav">
            <MenuItem name="1" to="/showDependenceResult">
              <Icon type="md-cube"></Icon>
              recommend dependence
            </MenuItem>
            <MenuItem name="2" to="/projectVersionList">
              <Icon type="ios-keypad"></Icon>
              show all project
            </MenuItem>
            <MenuItem name="3" to="/SingleSearchDependence">
              <Icon type="md-briefcase"></Icon>
              search dependence
            </MenuItem>
            <MenuItem name="4" to="/">
              <Icon type="md-cube"></Icon>
              Home
            </MenuItem>
          </div>
        </Menu>
      </Header>
      <Layout :style="{padding: '0 50px'}">
        <Breadcrumb :style="{margin: '16px 0'}">
          <BreadcrumbItem>Home</BreadcrumbItem>
          <BreadcrumbItem>Search Project</BreadcrumbItem>
          <BreadcrumbItem>Project Version Details</BreadcrumbItem>
        </Breadcrumb>
        <Content class="bkg">
          <Button shape="circle" icon="ios-arrow-back" class="btn1" @click.native="goBack">Back</Button>
          <br>
          <br>
          <h2 style="text-align: center;font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">项目名称： {{$route.query.pid}}</h2>
          <div class="demo-split">
            <Split v-model="split1">
              <div slot="left" class="demo-split-pane" style="height:550px;overflow: auto">
                <el-table
                  :data="versionList"
                  border
                  style="width: 450px; margin: 0 auto;">
                  <el-table-column
                    fixed
                    prop="version"
                    label="version"
                    width="200">
                  </el-table-column>
                  <el-table-column
                    fixed="right"
                    prop="dependency"
                    label="dependency"
                    width="250">
                  </el-table-column>
                </el-table>
                <el-pagination class="mpage"
                               background
                               layout="prev, pager, next"
                               :page-size="30"
                               :total=total
                               @current-change="changePage"
                               style="margin: 0 auto;text-align: center;" >
                </el-pagination>
              </div>
              <div slot="right" class="demo-split-pane">
                <h2>查询两个版本之间的差别：</h2>
                <h3>&nbsp;</h3>
                <Row>
                  <Col span="10" style="padding-right:10px">
                    <div>
                      <span class="wordStyle" style="color: #9ea7b4;size: 12px">选择的第一个版本号：</span>
                      <Select v-model="version.version1" filterable style="width:200px " size="large">
                        <Option v-for="item in versionList" prop="version" :value="item.version" :key="item.version">{{ item.version }}</Option>
                      </Select>
                    </div>
                  </Col>
                  <Col span="10">
                    <div>
                      <span class="wordStyle" style="color: #9ea7b4;size: 12px">选择的第二个版本号：</span>
                      <Select v-model="version.version2" filterable style="width:200px " size="large">
                        <Option v-for="item in versionList" prop="version" :value="item.version" :key="item.version">{{ item.version }}</Option>
                      </Select>
                    </div>
                  </Col>
                  <Col span="4" style="padding-left: 10px">
                    <div>
                      <h3 > &nbsp;</h3>
                      <Button shape="circle"  icon="ios-search" @click.native="checkDifference('resultFinal')">Search</Button>
                    </div>
                  </Col>
                </Row>
                <div id="resultFinal" style="display: none">
                  <h3>&nbsp;</h3>
                  <h3 class="wordStyle" style="color: #9ea7b4;size: 16px">增加的:</h3>
                  <li class="wordStyle" >{{romRes}}</li>
                  <h3>&nbsp;</h3>
                  <h3 class="wordStyle" style="color: #9ea7b4;size: 16px">删除的：</h3>
                  <li class="wordStyle">{{addRes}}</li>
                </div>
              </div>
            </Split>
          </div>
        </Content>
      </Layout>
    </div>
  </layout>

</template>

<script>
import axios from 'axios'
export default {
  name: 'ProjectDetail',
  methods: {
    goBack () {
      this.$router.back(-1)
    },

    checkDifference (a) {
      const obj =document.getElementById(a)
      if(obj.style.display === "none"){
        obj.style.display = ""
      }
      const _this = this
      console.log(_this.version.version1)
      console.log(_this.version.version2)
      axios.get('http://124.221.163.110:8081/it2/calDiff/'+_this.$route.query.pid+'/'+_this.version.version1+'/'+_this.version.version2).then(function (res){
        _this.versionDifferent = res.data
        console.log(_this.versionDifferent)
        _this.add =_this.versionDifferent[0]|| []
        _this.rom =_this.versionDifferent[1]|| []
        _this.addRes =_this.add
        _this.romRes =_this.rom

      })
    },


    changePage (currentPage) {
      const _this = this
      axios.get('http://124.221.163.110:8081/it2/findVersion/' +_this.$route.query.pid+'/'+ currentPage + '/30').then(function (res) {
        //console.log(res)
        _this.versionList = res.data.content
        _this.total = res.data.totalElements
      })
    },

  },
  created () {
    const _this = this
    axios.get('http://124.221.163.110:8081/it2/findVersion/'+ _this.$route.query.pid+'/1/30').then(function (res){
      _this.versionList = res.data.content
      _this.total = res.data.totalElements
       //console.log(res.data.content)
      //console.log(_this.versionList)
      //console.log(_this.total)
    })
  },

  data () {
    return {
      split1: 0.65,
      split2:0.35,
      add: [],
      rom: [],
      version: { version1: '', version2: ''},
      versionList: null,
      versionDifferent: null,
      total: null,
      addRes: null,
      romRes :null
    }
  }
}
</script>
