<style scoped>
.layout{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: fixed;
  border-radius: 4px;
  overflow: auto;
  height: 100vh;
  width: 100%;
  left: 0;
}
.layout-logo{
  width: 100px;
  height: 45px;
  background: #515763;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 25px;
}
.layout-nav{
  width: 700px;
  margin: 0 auto;
  margin-right: 20px;
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100px;
  width: 600px;
}
.bkg{
  padding: 24px 0;
  height: 750px;
  background: #fff;
  overflow: auto;
}
</style>
<template>
  <layout>
    <div class="layout">
      <Header>
        <Menu mode="horizontal" theme="dark" active-name="1">
          <div class="layout-logo">
            <h2 style="color: #f5f7f9;text-align: center;top:15px;font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;">LAMARS</h2>
          </div>
          <div class="layout-nav">
            <MenuItem name="1" to="/showDependenceResult">
              <Icon type="md-cube"></Icon>
              recommend dependence
            </MenuItem>
            <MenuItem name="2" to="/projectVersionList">
              <Icon type="ios-keypad"></Icon>
              show all project
            </MenuItem>
            <MenuItem name="4" to="/">
              <Icon type="md-cube"></Icon>
              Home
            </MenuItem>
          </div>
        </Menu>
      </Header>
      <Layout :style="{padding: '0 50px'}">
        <Breadcrumb :style="{margin: '16px 0'}">
          <BreadcrumbItem>Home</BreadcrumbItem>
          <BreadcrumbItem>Search Dependence</BreadcrumbItem>
        </Breadcrumb>
        <Content class="bkg">
          <Button shape="circle" icon="ios-arrow-back" class="btn1" @click.native="goBack">Back</Button>
          <div class="box">
            <Input v-model="searchInput" size="large" placeholder="Enter your dependence..."  >
              <!--                    <div v-show="show" class="errs"><span>{{errWord}}</span></div>-->
              <Button slot="append" icon="ios-search" @click.native="doSearch(searchInput)"></Button>
            </Input>
          </div>
        </Content>

      </Layout>
    </div>
  </layout>
</template>

<script>
export default {
  name: "SingleSearchDependence",
  data () {
    return{
      formInput:  {
        searchInput: ''
      },
      ruleInline: {
        searchInput: [
          { required: true, message: 'Please fill in the blank', trigger: 'blur' }
        ]
      },
      searchInput: '',
      errWord: '',
      show: false
    }
  },
  methods: {
    change: function (index) {
      this.number = index
      console.log(index)
    },
    goBack () {
      this.$router.back(-1)

    },
    doSearch (searchInput) {
      if ( this.show === false ) {
        this.$router.push({
          path: '/dependenceSearchList',
          query: {
            keyword: searchInput
          }
        })
      }
    }
  }
}
</script>
