<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
  #app {
    max-width: 960px;
    margin: 0 auto;
  }
  body {
    font-family:”Microsoft YaHei”,Arial,Helvetica,sans-serif,”宋体”;
  }
</style>

